
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
/* Global styles */
body {
  /* font-family: 'Josefin Sans', sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Header styles */
  .header {
    background-color: #008080;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* height:80px; */
    padding:0 100px;
  }
  .logo{
    height: 100px;
    width: 100px;
    align-items: left;
    display: flex;
    /* flex-direction: column; */
  }
  .logo img{
    position: relative;
    top: 2vh; left: 40px;
    width: 40px;
    height: 40px;
  }

  .logo h1{
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    text-align: left;
    align-items: left;
    width: auto;
    font-size: medium;
    font-weight: bold;
    margin-top: 20px;
    position: inherit;
  }
  @media only screen and (max-width:600px){
    .logo h1{
      display: none;
    }}

  .hamburger{
    display: none;
  }
  
  /* Navigation styles */
  .nav-bar {
    background-color: #008080;
    display: flex;
    color: white;
    display: inline-block;
    justify-content:space-between;
    padding: 5px;
    width: auto;
  }
.nav-bar ul{
    list-style-type:none;
    display: inline-block;
    padding: 5px 15px;
    margin: 0 2px;
    justify-content: center;
  }
  .nav-bar ul li{
    display: flex;
    list-style-type:none;
    display: inline-block;
    padding: 10px 20px;
    justify-content: center;
  }
  
  .nav-bar ul li a{
    display: block;
    color: #fff;
    font-size: 20px;
    border-radius: 20px;
    padding: 5px 15px;
    transition: 0.2s;
    margin: 0 2px;
    text-decoration: none;
    border: 1px solid white;  justify-content: center;  
  }
 
 .nav-bar ul li a:hover{
  background-color: #006060;
  color: #fff;
  transform: scale(1.2);
  transition: 0.2s;
 }
 .nav-bar ul li a.active{
  color: #006060;
  background: #fff;
 }

  @media only screen and (max-width:600px){
    .header{
      padding: 0 20px;
    }}
  @media only screen and (max-width:1100px){
    .header{
      padding: 0 30px;
    }}
  @media screen and (max-width:500px){
    .nav-bar ul{
      display: none;
    }
  .hamburger{
    display: block;
  }
}

  @media only screen and (max-width:600px){
    .hamburger{
      display:block;
    cursor: pointer;
    position: absolute;
    right: 30%;
  } 
    .hamburger .line{
      width: 30px;
      height: 3px;
      background-color: #fff;
      margin: 6px 0;
    }
    .nav-bar ul li{
      list-style-type:none;
      display: flex;
      flex-direction: column;
      padding: 10px;
      align-items: center;
      justify-content: center;
    }
    .nav-bar{
      display: flex;
      display: none;
      justify-content: center;
      height: 60vhpx;
      position: absolute;
      top: 80px;
      right: 2%;
      align-items: center;
      background:#006060 ;
      transition: 0.2s;
      width: 50vw;
      padding: 20px;
    }
    /* .nav-bar ul{
      display: block;
      width: 100%;
      margin: 30px auto 0 auto;
    } */
  }
  
  .emergency button{
    background-color: red;
    border: none;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
  }
  .emergency button:hover{
    transform: scale(1.2);
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
    }
    .description{
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .description .des{
      position: relative;
      width: 100%;
      top: 50%;
      left: 0;
      right: 0;
    }
    .images{
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(8, 5vw);
      grid-gap: 10px;
      width:100%;
      margin: 10px;
  }
        
    #image1 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
    }
    
    #image2 {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 3;
    } 
    
    #image3 {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 1;
      grid-row-end: 6;  
    }
    
    #image4 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: 6;   
    }
    
    #image5 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 6;
      grid-row-end: 9;
  }
  
    #image6 {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 6;
      grid-row-end: 9;
    }
    #image7 {
      grid-column: 5 / span 4; 
      grid-row: 6 / span 3;
    }
    #image8 {
      width: 50px;
      float: left;
      height: 50px;
    }

    .images img{
      width: 90%;   
    }
    /* @media 
  (-webkit-min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi) { 
  .img {
    background-image: url(examples/images/image-768.jpg);
  } */
  .description .images{
    display: grid;
    grid-template-rows: repeat 3,1 fr;
    /* background-size: cover; */
    justify-content: center;
  } 

.description .des{
    padding: 20px;
    margin: 0;
    background-color: #006060;
    color: white;
    text-align: left;
  }
  
/* Department section styles */
  .department-section {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  .department-section h2 {
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 10px;
  }
  
  .department-section nav {
    display: flex;
    justify-content: space-around;
  }
  
  .department-section nav a {
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    padding: 5px;
    background-color: #008080;
  }
  .department-section nav a:hover{
    color:white;
    background-color: rgba(0,8, 8, 0.6);
  }
  .department-section div {
    display: flex;
    justify-content: space-around;
    font-family: Georgia, 'Times New Roman', Times, serif;

  }
  .department-section div img{
    display: flex;
    justify-content: space-around;
    width: 50px;
    height: 50px;
    }
  
  /* E-Filing section styles */
  .efiling-section {
    display: flexbox;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .efiling-section h2{
    width: 100%;
    position: relative;
    margin: 10px;
  }
  .eds{
    width: 100%;
    position: relative;
    margin-top: 20px;
  }
  .efiling-section a{
    width: 100%;
    position: relative;
    margin: 10px;
    color: blue;
    text-decoration: none;
  }
  .efiling-section .form-e-sys{
    align-items: center;
    width: 70%;
    padding: 0;
    margin: auto;
    justify-content: center;
  }

.efiling-section .form-e-sys input{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.efiling-section .form-e-sys .btn{
  display: flex;
  width: 100%;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #ccc;
  text-align: center;
  background-color: #008080;
  justify-content: center;
  
}
.efiling-section .form-e-sys .btn input{
  margin: 10px;
  border-radius: 20px;
}
.efiling-section .form-e-sys .btn input:hover{
  background-color: #006060;
  color: #fff;
}
/* testimonial */
  
.testimonial {
	padding-top: 100px;
  }
  
  .testimonial .col-3 {
	text-align: center;
	padding: 40px 20px;
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: transform 0.5s;
  }
  
  .testimonial .col-3 img {
	width: 100px;
	margin-top: 20px;
	border-radius: 50%;
  }
  
  .testimonial .col-3:hover {
	transform: translateY(-10px);
  }
  
  .fa-quote-left {
	font-size: 34px;
	color: #ff523b;
  }
  
  .col-3 p {
	font-size: 14px;
	margin: 12px 0;
	color: #777777;
  }
  
  .testimonial .col-3 h3 {
	font-weight: 600;
	color: #555;
	font-size: 16px;
  }
  
  .brands {
	margin: 100px auto;
  background-color: #ccc;
  }
  .row{
    display: flex;
    justify-content: space-between;
  }
  
  .col-5 {
	width: 160px;
  }
  
  .col-5 img {
	width: 100%;
	cursor: pointer;
	filter: grayscale(100%);
  }
  
  .col-5 img:hover {
	width: 100%;
	cursor: pointer;
	filter: grayscale(0);
  }

  /* Footer styles */
  footer {
    background-color: #008080;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  footer p{
    font-weight: bolder;
  }
footer .chatbot a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin: auto;
}
footer .chatbot a:hover{
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 10px;
}
@media screen and (max-width:600px){
  footer .chatbot a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin: auto;
    transition: 0.5s;}
}
@media only screen and (max-width: 600px) {
	.row {
	  text-align: center;
	}
	.col-2,
	.col-3,
	.col-4 {
	  flex-basis: 100%;
	}
}
